<div class="control-panel panel d-none">
  <div id="username"><%= current_user.full_name %></div>
  <div id="user-email"><%= current_user.email %></div>

  <div class="text-center">
    <a href="/logout" id="logout-btn" class="btn btn-primary">Log out</a>
  </div>
</div>
