<% content_for :assets do %>
  <%= javascript_pack_tag 'sessions/login', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'sessions/login', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="login-form" class="panel">
  <div class="form-wrapper">
    <div class="form-title">Welcome back</div>
    <%=
      locals = {
        model: @session,
        method: 'post',
        form_type: 'login',
        submit_text: 'Login'
      }
      render partial: 'forms/user_form', locals: locals
    %>

    <small class="form-text">
      New to EZML?
      <a href=<%= '/register' %>>Register now!</a>
    </small>
  </div>
</div>
