<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add Model</title>
  </head>

  <body>

  <%# insert header here %>
  <%= render "layouts/header" %>

  <div class="container" style="margin-bottom: 20px">
    <h1>Prediction/Recommendation</h1>
    <h2>Add New Model</h2>
    <hr/>

    <form>
      <div class="mb-3">
        <label for="modelName" class="form-label">Name</label>
        <input id="modelName" type="email" class="form-control" >
      </div>

      <div class="mb-3">
        <label for="modelType" class="form-label">Machine Model</label>
        <select id="modelType" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="LSTM">LSTM</option>
          <option value="ANN">ANN</option>
          <option value="CNN">CNN</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="para1" class="form-label">Parameter 1</label>
        <select id="para1" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="1">XXX</option>
          <option value="2">XXX</option>
          <option value="3">XXX</option>
        </select>
      </div>
      
      <div class="mb-3">
        <label for="para2" class="form-label">Parameter 2</label>
        <select id="para2" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="1">XXX</option>
          <option value="2">XXX</option>
          <option value="3">XXX</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="para3" class="form-label">Parameter 3</label>
        <select id="para3" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="1">XXX</option>
          <option value="2">XXX</option>
          <option value="3">XXX</option>
        </select>
      </div>
      
      <div class="mb-3">
        <label for="dataset" class="form-label">Stock(s) Data Train Set</label>
        <select id="dataset" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="1">Select</option>
          <option value="2">XXX</option>
          <option value="3">XXX</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="start" class="form-label">Start Date</label>
        <select id="start" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="1">Select</option>
          <option value="2">XXX</option>
          <option value="3">XXX</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="end" class="form-label">End Date</label>
        <select id="end" class="form-select" aria-label="Default select example">
          <%# <option selected>Select Model</option> %>
          <option value="1">Select</option>
          <option value="2">XXX</option>
          <option value="3">XXX</option>
        </select>
      </div>

      <%= link_to "Back", "/model", class: 'btn btn-danger col-1' %>
      <%= link_to "Save", "/", class: 'btn btn-success col-1' %>
      <%= link_to "Run", "/", class: 'btn btn-primary col-1' %>

      <%# <button type="submit" class="btn btn-primary">Submit</button> %>
    </form>

  </div>
  </body>
</html>