<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<footer class="page-footer font-small teal pt-4">

  <div class="container-fluid text-md-left">

    <div class="row">

      <div class="col-md-2 mt-md-0 mt-2">
      </div>

      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold"><b>ABOUT AS</b></h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>EZML is a stock advisor platform targeted for retail investors who have little to no knowledge of stocks or technical analysis, to help them identify potential stocks for buying or selling.</p>
        <p>EZML is powered by a highly accurate machine learning architecture that consumes real time stock data, to formulate up to date stock prediction and recommendation to the users. </p>
      </div>

      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold"><b>Explore</b></h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>
          <a href="#!">Stocks</a>
        </p>
        <p>
          <a href="#!">Portfolio</a>
        </p>
        <p>
          <a href="#!">FAQ</a>
        </p>
      
      </div>

      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold"><b>Contact</b></h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>
          <i class="fas fa-home mr-3"></i> Singapore </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>

       <div class="col-md-3 mt-md-0 mt-3">
      </div>

  </div>

  <!-- Copyright -->
  <div class="text-center footer-copyright-custom"><b>
    © 2021 Copyright
    <%# <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> %>
  </b></div>
  <!-- Copyright -->

</footer>


<style>
footer {
  background-color: #295174;
  color: white;
}

.footer-copyright-custom{
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 2px;
}

a {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

a:hover {
  color: rgb(184, 220, 252);
  font-weight: 500;
}

p {
  font-size: 15px;
}

</style>

