<div class="container mt-5">
  <br/><br/>
  <h1>Schedule</h1>
  <hr/>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Model Parameters Config Name</th>
        <th scope="col">Schedule Date</th>
        <th scope="col">Frequency (Days)</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @schedule.order({ created_at: :desc }).each do |schedule| %>
        <tr>
          <td><%= schedule.model_config.name %></td>
          <td><%= schedule.start_date %></td>
          <td><%= schedule.frequency %></td>
          <td>
            <%= link_to "Edit", edit_admin_schedule_path(id:schedule), method: :get, class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
 
</div>