<div class="container mt-5">
  <h1>Schedule</h1>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Schedule Start Date</th>
        <th scope="col">Frequency (Days)</th>
        <th scope="col">Last Ran</th>
        <th scope="col">Next Schedule Run Date</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>11 Oct 2021</td>
          <td>7</td>
          <td>18 Oct 2021</td>
          <td>25 Oct 2021</td>
        </tr>

    </tbody>
  </table>

  <%= link_to "Edit", "schedule/new", method: :get, class: 'btn btn-primary' %>
</div>