<div class="container mt-5">
  <h1>Schedule</h1>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Model Parameters Config Name</th>
        <th scope="col">Schedule Date</th>
        <th scope="col">Frequency (Days)</th>
      </tr>
    </thead>
    <tbody>
      <% @schedule.each do |schedule| %>
        <tr>
          <td><%= schedule.model_config.name %></td>
          <td><%=schedule.start_date %></td>
          <td><%= schedule.frequency %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <%= link_to "Add/Edit", "schedule/new", method: :get, class: 'btn btn-primary' %>
</div>