<% content_for :assets do %>
  <%= javascript_pack_tag 'users/register', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'users/register', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="user-form" class="panel">
  <div class="form-wrapper">
    <div class="form-title">Create an account</div>
    <%=
      locals = { user: @user, method: 'post', submit_text: 'Register' }
      render partial: 'user_form', locals: locals
    %>
  </div>
</div>
