<% content_for :page_js do %>
  users/register
<% end %>

<% content_for :page_css do %>
  users/register
<% end %>

<% provide :title, 'Registration' %>

<div id="user-form" class="panel">
  <div class="form-wrapper">
    <div class="form-title">Create an account</div>
    <%=
      locals = {
        model: @user,
        method: 'post',
        form_type: 'register',
        submit_text: 'Register'
      }
      render partial: 'forms/user_form', locals: locals
    %>
  </div>

  <small class="form-text">
    <a href=<%= '/login' %>>Already have an account?</a>
  </small>
</div>
