<% content_for :assets do %>
  <%= javascript_pack_tag 'users/register', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'users/register', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div id="user-form" class="panel">
  <div class="form-wrapper">
    <div class="form-title">Create an account</div>
    <%=
      locals = {
        model: @user,
        method: 'post',
        form_type: 'register',
        submit_text: 'Register'
      }
      render partial: 'forms/user_form', locals: locals
    %>
  </div>

  <small class="form-text">
    <a href=<%= '/login' %>>Already have an account?</a>
  </small>
</div>
