<div class="placeholder flex-grow-1 d-flex flex-column justify-content-center align-items-center">
  <h1>Welcome to the Stock Market Prediction App</h1>
  <h2>CSIT321 Final Year Project</h2>
  <div class="members-container mt-4 d-flex w-50 justify-content-around">
    <span>Jonathan (Test1)</span>
    <span>Ling Yi</span>
    <span>PC</span>
    <span>Joey</span>
    <span>Muru</span>
  </div>
</div>
