<div class="placeholder">
  <h1>Welcome to the Stock Market Prediction App</h1>
  <h2>CSIT321 Final Year Project</h2>
  <div class="members-container">
    <span>Jonathan</span>
    <span>Ling Yi</span>
    <span>PC</span>
    <span>Joey</span>
    <span>Muru</span>
  </div>
</div>
