<div class="container mt-5">
  <h1>Trained Parameters & Accuracy</h1>
  <hr/>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Stock Name</th>
        <th scope="col">Parameters</th>
        <th scope="col">Accuracy</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

    </tbody>
  </table>

  <%= link_to "Back", admin_model_parameters_path, class: 'btn btn-primary' %>
</div>