<div style="height: 50px; background-color:#F5F5F5;">
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Schedule</a>
  </li>
  <li class="nav-item">
    <%= link_to "Price Prediction", "/model", class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Recommendation", "/model", class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
    <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
  </li>
</ul>
</div>
